# Windows thumb files
Thumbs.db

# Build interim files
development/node_modules

# Release packaging files
mediawiki/*.zip
qvhighlight/*.zip
wordpress/*.zip

# Translashion temp and backup files
wordpress/qlik-highlight/languages/*.pot~
wordpress/qlik-highlight/languages/*.po~

# VSCode Config
.vscode/*