/***************************************************************************
* SETTINGS PAGE
***************************************************************************/
div.qlik-highlight-admin h2 {
    margin-top: 35px;
}

div.qlik-highlight-admin h3 {
    margin-top: 25px;
}

div.qlik-highlight-admin table {
    border-collapse: collapse;
}

div.qlik-highlight-admin table.border th,
div.qlik-highlight-admin table.border td {
    border: 1px solid #999;
    padding: 5px 10px;
}

div.qlik-highlight-admin hr {
    margin-top: 35px;
}

/***************************************************************************
* SHORTCODE BUTTON POPUPS
***************************************************************************/
.qlik_highlight_shortcode_popup {
    margin-top: 10px;
}

.qlik_highlight_shortcode_popup .label-desc {
    width: 27%;
    margin-top: 10px;
    margin-right: 3%;
    float: left;
    font-weight: bold;
    text-align: left;
    padding-top: 2px;
}

.qlik_highlight_shortcode_popup .content {
    float: left;
    width: 70%;
    margin-top: 10px;
}

.qlik_highlight_shortcode_popup .content h4:first-child {
    margin-top: 0;
    padding-top: 0;
}

.qlik_highlight_shortcode_popup .content .justify {
    text-align: justify;
}

.qlik_highlight_shortcode_popup .button {
    margin-top: 5px;
}

.qlik_highlight_shortcode_popup .field-container {
    margin: 5px 0;
    display: inline-block;
    width: 100%;
}

.qlik_highlight_shortcode_popup .buttons {
    margin-top: 15px;
    text-align: right;
}

.qlik_highlight_shortcode_popup .buttons input,
.qlik_highlight_shortcode_popup .buttons a {
    margin: 0 5px;
}
